{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <div class="col s10">
                        {% for crumb in breadcrumbs %}
                            <a href="{{ crumb.url }}" class="breadcrumb">{{ crumb.text }}</a>
                        {% endfor %}
                    </div>
                    <div class="col s2 right-align">
                        <a class="waves-effect waves-light btn red lighten-5" href="{{ url_for('auth.register') }}">
                            <span style="color: black">Register</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <h4 style="color: #ef9a9a">Login</h4>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
